<template>
  <section class="carousel">
    <v-btn
      v-show="slide !== 0"
      fab
      text
      large
      depressed
      elevation="0"
      width="75px"
      height="75px"
      class="carousel__controls carousel__controls--left"
      @click="slide--"
    >
      <v-icon size="60px"> mdi-chevron-left </v-icon>
    </v-btn>
    <v-btn
      v-show="getSlides.length > 1"
      fab
      text
      large
      depressed
      elevation="0"
      width="75px"
      height="75px"
      class="carousel__controls carousel__controls--right"
      @click="slide++"
    >
      <v-icon size="60px"> mdi-chevron-right </v-icon>
    </v-btn>
    <v-carousel
      v-model="slide"
      hide-delimiters
      touchless
      :show-arrows="false"
      :height="getHeight"
    >
      <v-carousel-item v-for="(item, i) in getSlides" :key="i">
        <section class="carousel-grid">
          <v-card
            v-for="(gridItem, index) of item"
            :key="gridItem.src + index"
            v-ripple
            elevation="2"
            class="carousel-grid__card-wrapper"
            @click="$emit('click', gridItem)"
          >
            <img :src="gridItem.src" class="carousel-grid__card" />
          </v-card>
        </section>
      </v-carousel-item>
    </v-carousel>
  </section>
</template>

<script>
export default {
  props: {
    slides: {
      type: Array,
      default: () => [],
    },
    elementsPerScreen: {
      type: Number,
      default: 16,
    },
  },

  data() {
    return {
      slide: 0,
    }
  },

  computed: {
    getSlides() {
      const result = []
      let buffer = []

      for (let index = 0; index < this.slides.length; index++) {
        buffer.push(this.slides[index])
        if (
          (index + 1) % this.elementsPerScreen === 0 &&
          (index !== 0 || this.elementsPerScreen === 1)
        ) {
          result.push(buffer)
          buffer = []
        } else if (index + 1 === this.slides.length) {
          result.push(buffer)
        }
      }

      return result
    },

    getHeight() {
      return (this.$mq === 'sm') | (this.$mq === 'xs') ? '500px' : '650px'
    },
  },
}
</script>

<style lang="scss" scoped>
.carousel {
  position: relative;
}

.carousel-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
  height: 500px;
  padding-bottom: 1px;
}

.carousel-grid__card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 90%;
  transition: 0.5s;
  cursor: pointer;

  img {
    max-height: 100%;
    width: 75%;
  }
}

.carousel__controls {
  position: absolute;
  z-index: 3;
}

.carousel__controls--left {
  top: calc(50% - 47px);
  left: 0;
}

.carousel__controls--right {
  top: calc(50% - 47px);
  right: 0;
}

.carousel-grid__card-wrapper:hover {
  box-shadow: 0 4px 5px -2px rgb(0 0 0 / 20%), 0 7px 10px 1px rgb(0 0 0 / 14%),
    0 2px 16px 1px rgb(0 0 0 / 12%) !important;
}

@media (min-width: 768px) {
  .carousel-grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 650px;
  }

  .carousel__controls--right {
    right: -75px;
  }

  .carousel__controls--left {
    left: -75px;
  }
}

@media (min-width: 1024px) {
  .carousel-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}
</style>
