<template>
  <v-dialog
    :value="value"
    max-width="1050px"
    :fullscreen="$mq === 'xs'"
    @input="$emit('input', $event)"
  >
    <v-card class="popup">
      <v-btn fab class="popup__close" depressed large plain @click="close">
        <v-icon>mdi-window-close</v-icon>
      </v-btn>
      <img :src="data.src" alt="" class="popup__image" />
      <div class="main">
        <h2 class="main__header">{{ data.name }}</h2>
        <span> <b>Категория:</b> {{ data.category }} </span>
        <p class="main__description">{{ data.description }}</p>
        <span> Преимущества работы с {{ data.name }}:</span>
        <ul class="main__list">
          <li
            v-for="(benefit, i) of data.benefits"
            :key="i"
            class="main__list-item"
          >
            {{ benefit }}
          </li>
        </ul>
        <b>Бонсусы:</b>
        <p>
          Получите <b>{{ data.persent }}</b> {{ data.bonus }}
        </p>
        <p>Регестрируйтесь по кнопке "Получить бонус"</p>
        <div v-ripple class="box">
          <div class="box-inner" @click="$emit('submit')">Получить бонус</div>
        </div>
      </div>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  props: {
    data: {
      type: Object,
      default: () => {},
    },
    value: {
      type: Boolean,
      default: false,
    },
  },

  data() {
    return {
      model: true,
    }
  },

  methods: {
    close() {
      this.$emit('input', false)
    },
  },
}
</script>

<style lang="scss" scoped>
.popup {
  height: max-content;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 40px 15px !important;
  position: relative;
  font-family: Gotham, sans-serif;
}

.popup__close {
  top: 30px;
  right: 30px;
  position: absolute;
}

.popup__image {
  max-width: 200px;
}

.main__header {
  font-size: 28px;
  margin-bottom: 10px;
  margin-top: 25px;
}

.main__list {
  margin-bottom: 40px;
}

.main__btn {
  margin-top: 30px;
  width: 100%;
}

$width: 200px;
$height: 40px;
$primary_color: #76b46c;
$border_color--hover: #76b46c;
$stroke: 2px;
$border: $stroke solid #fff;
$transition_duration: 200ms;
$pipeline_width: $width + $stroke;
$pipeline_height: $height + $stroke;
$pipes: 4;

@function border-pipeline($transition_duration, $pipe) {
  @return $transition_duration * $pipe;
}

@mixin border-animation($dimension, $easing, $pipe) {
  transition: $transition_duration $dimension $easing
    border-pipeline($transition_duration, $pipe);
  -web-kit-transition: $transition_duration $dimension $easing
    border-pipeline($transition_duration, $pipe);
}

.box {
  width: $width;
  height: $height;
  border: $border;
  display: flex;
  justify-content: center;
  margin: auto;
  align-items: center;
  text-align: center;
  font-family: Gotham, sans-serif;
  color: #313131;
  position: relative;
  box-sizing: content-box;
  background-color: #eff0f2;
  border-radius: 2px;
  cursor: pointer;
  transition: ($transition_duration * $pipes) + $transition_duration linear;
  &::before {
    position: absolute;
    width: 0;
    height: $stroke;
    content: '';
    background: #76b46c;
    top: -$stroke;
    left: -$stroke;
    @include border-animation(width, linear, 3);
  }
  &::after {
    position: absolute;
    width: $stroke;
    height: 0;
    content: '';
    background: #76b46c;
    top: -$stroke;
    right: -$stroke;
    @include border-animation(height, linear, 2);
  }
  &-inner::after {
    position: absolute;
    width: 0;
    height: $stroke;
    content: '';
    background: #76b46c;
    bottom: -$stroke;
    right: -$stroke;
    @include border-animation(width, linear, 1);
  }
  &-inner::before {
    position: absolute;
    width: $stroke;
    height: 0;
    content: '';
    background: #76b46c;
    bottom: -$stroke;
    left: -$stroke;
    @include border-animation(height, linear, 0);
  }
  &:hover {
    border-color: transparent;
    &::before {
      width: $pipeline_width;
      @include border-animation(width, linear, 0);
    }
    &::after {
      height: $pipeline_height;
      @include border-animation(height, linear, 1);
    }
    .box-inner::after {
      width: $pipeline_width;
      @include border-animation(width, linear, 2);
    }
    .box-inner::before {
      height: $pipeline_height;
      @include border-animation(height, linear, 3);
    }
  }
}

@media (min-width: 440px) {
  .popup {
    padding: 40px 30px !important;
  }
  .popup__image {
    max-width: 300px;
  }
  .box {
    margin-top: 15px;
  }
}

@media (min-width: 768px) {
  .main__header {
    margin-bottom: 0;
  }

  .popup {
    flex-direction: row;
    padding: 60px 40px !important;
  }

  .popup__image {
    margin-right: 10px;
    display: block;
    max-width: 250px;
  }

  .main__btn {
    width: max-content;
  }
  .box {
    margin: auto;
    margin-top: 25px;
  }

  .main__list {
    margin-bottom: 20px;
  }
}

@media (min-width: 1024px) {
  .popup {
    padding: 20px 60px !important;
    height: 680px;
  }
  .popup__close {
    top: 5px;
    right: 5px;
  }
  .popup__image {
    max-width: 300px;
    margin-right: 40px;
  }
  .box {
    margin: 0;
  }
}
</style>
