<template>
  <v-tabs
    background-color="#eff0f2"
    class="tabs"
    color="#76b46c"
    @change="$emit('change', $event)"
  >
    <v-tab v-for="tab of tabs" :key="tab">
      {{ tab }}
    </v-tab>
  </v-tabs>
</template>

<script>
export default {
  props: {
    tabs: {
      type: Array,
      default: () => [],
    },
  },
}
</script>

<style lang="scss" scoped>
.tabs {
  ::v-deep {
    .v-tabs-slider-wrapper::after {
      content: '';
      background-color: #76b46c;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0) rotate(45deg);
      top: -5px;
      width: 12px;
      height: 12px;
      border-radius: 2px;
    }

    .v-tabs-slider {
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
    }
  }

  display: flex;
  justify-content: center;
}
</style>
