<template>
  <v-app>
    <v-app-bar
      height="80px"
      max-width="100%"
      elevation="0"
      app
      color="#ffffff"
      class="header"
      absolute
    >
      <nuxt-link to="/" class="header__logo">
        <img src="~/assets/logo.svg" alt="Logo" />
      </nuxt-link>
      <v-spacer></v-spacer>
      <nav class="header__nav">
        <nuxt-link
          v-for="link of navLinks"
          :key="link"
          to="/"
          class="header__link"
        >
          {{ link }}
        </nuxt-link>
      </nav>
      <v-app-bar-nav-icon class="header__nav-ico" @click="menu = !menu" />
    </v-app-bar>
    <v-dialog
      v-model="menu"
      fullscreen
      transition="slide-y-transition"
      scrollable
    >
      <v-card class="popup">
        <v-btn
          fab
          class="popup__close"
          depressed
          large
          plain
          @click="menu = false"
        >
          <v-icon>mdi-window-close</v-icon>
        </v-btn>
        <nav class="popup__nav">
          <nuxt-link
            v-for="link of navLinks"
            :key="link"
            v-ripple
            to="/"
            class="header__link"
          >
            {{ link }}
          </nuxt-link>
        </nav>
      </v-card>
    </v-dialog>
    <v-main class="app">
      <v-container class="container">
        <nuxt />
      </v-container>
    </v-main>
    <v-footer class="footer">
      <div class="footer__wrapper">
        <div class="footer__main">
          <nuxt-link to="/" class="footer__logo">
            <img src="~/assets/logo-light.svg" alt="Logo" />
          </nuxt-link>
          <div class="footer__socs">
            <v-btn
              v-for="icon of socsIcons"
              :key="icon"
              color="white"
              fab
              width="32px"
              height="32px"
              to="/www"
              class="footer__socs-item"
              elevation="0"
            >
              <v-icon color="#000000" size="24px">
                {{ icon }}
              </v-icon>
            </v-btn>
          </div>
        </div>
        <nav class="footer__nav">
          <nuxt-link
            v-for="link of footerNavLinks"
            :key="link"
            to="/"
            class="footer__link"
          >
            {{ link }}
          </nuxt-link>
        </nav>
        <div class="footer__location">
          <h3>Locations</h3>
          <p>Ulitsa Pushkina 212/b #333</p>
          <p>Dom kolitushkina 705124</p>
        </div>
      </div>
      <div class="footer__copyright">
        <p class="footer__copyright-text">
          © 2021 Pupa i lupa production <br v-if="$mq === 'sm'" />
          <nuxt-link to="/">Terms of Service & Privacy Policy</nuxt-link>
        </p>
      </div>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  data() {
    return {
      menu: false,
      navLinks: ['WHO WE ARE', 'COMPANIES', 'JOBS', 'PERSPECTIVES'],
      footerNavLinks: [
        'Who we are',
        'Companies',
        'Jobs',
        'Perspectives',
        'Who we are',
        'Companies',
        'Jobs',
        'Perspectives',
      ],
      socsIcons: ['mdi-facebook', 'mdi-twitter', 'mdi-instagram'],
    }
  },
}
</script>

<style scoped lang="scss">
.app {
  margin: 0 10px;
  margin-top: 80px;
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
  max-width: 100%;
  background-color: #eff0f2;
  border-radius: 8px;
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}

.container {
  max-width: 1440px;
  width: 100%;
}

.popup {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  padding: 40px 10px !important;
  position: relative;
  font-family: Gotham, sans-serif;
}

.popup__close {
  position: absolute;
  top: 9px;
  right: 41px;
}

.popup__nav {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 50px;
  width: 90%;
}

.header {
  margin: 0 45px;
}

.header__link {
  font-family: Gotham, sans-serif;
  color: #7f7f7f;
  padding: 40px 16px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.2em;
  transition: 0.5s;
  text-align: center;
  line-height: 0.9;
}

.header__logo {
  max-height: 46px;

  img {
    height: 46px;
  }
}

.header__link:hover {
  opacity: 1 !important;
}

.header__nav {
  display: none;
}

.header__nav:hover {
  .header__link {
    opacity: 0.4;
  }
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 20px;
  background-color: #3c3c3f;
}

.footer__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 40px;
}

.footer__main {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__socs {
  margin-top: 25px;
}

.footer__socs-item {
  margin: 0 10px;
}

.footer__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 20px;
  margin-top: 40px;
}

.footer__link {
  width: 50%;
  margin-top: 4px;
  margin-bottom: 8px;
  text-align: center;
  font-family: 'Gotham', sans-serif;
  color: #cacaca;
  line-height: 26px;
  font-weight: 300;
  font-size: 15px;
  text-decoration: none;
  letter-spacing: 1px;
  transition: 0.4s;
}

.footer__link:hover {
  color: #fff;
}

.footer__copyright {
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer__copyright-text {
  font-family: 'Gotham', sans-serif;
  color: #7f7f7f;
  font-size: 16px;
  text-align: center;

  a {
    color: #a2a7b3;
  }
}

.footer__location {
  width: 100%;
  text-align: center;
  margin-top: 40px;
  color: #cacaca;

  h3 {
    font-family: Gotham, sans-serif;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
  }

  p {
    margin-top: 4px;
    margin-bottom: 10px;
    font-family: Gotham, sans-serif;
    color: #e8e8e8;
    font-size: 12.5px;
    font-weight: 300;
    text-decoration: none;
  }
}

@media (min-width: 768px) {
  .app {
    margin: 0 47px;
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    max-width: 100%;
    background-color: #eff0f2;
    border-radius: 8px;
    padding-top: 40px !important;
    padding-bottom: 40px !important;
  }

  .header {
    margin: 0 95px;
  }

  .footer__wrapper {
    max-width: 1100px;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 1024px) {
  .header__nav-ico {
    display: none;
  }

  .footer__nav {
    margin-top: 0;
    margin-left: 120px;
  }

  .footer__location {
    margin-top: 40px;
    width: 350px;
    text-align: left;
  }

  .footer__link {
    text-align: left;
  }

  .header__nav {
    display: block;
  }
}
</style>
