<template>
  <div class="home">
    <tabs :tabs="getTabs()" @change="tab = $event" />
    <v-text-field
      v-model="searchText"
      class="home__search"
      placeholder="Search"
      color="#0000008a"
      background-color="#ffffff"
      prepend-inner-icon="mdi-magnify"
      solo
      flat
      depressed
    />
    <popup
      v-model="popupStatus"
      :data="activeDataItem"
      @submit="submit(activeDataItem)"
    />
    <carousel
      :slides="search(searchText)"
      :elements-per-screen="getElementsPerScreen()"
      @click="showPopup($event)"
    />
  </div>
</template>

<script>
import Tabs from '~/components/Tabs.vue'
import Carousel from '~/components/Carousel.vue'
import Popup from '~/components/Popup.vue'
import mainData from '~/data/data.js'
export default {
  components: {
    Tabs,
    Carousel,
    Popup,
  },

  data() {
    return {
      searchText: '',
      tab: 0,
      mainData,
      activeDataItem: {},
      popupStatus: false,
    }
  },
  methods: {
    getGridItems() {
      let result = []
      if (this.tab === 0) {
        for (const dataItem of this.mainData) {
          result = result.concat(dataItem.items)
        }
        return result
      }
      return this.mainData[this.tab - 1].items
    },

    search(text) {
      const searchText = text.toLowerCase()

      const result = this.getGridItems()
      return result.filter((el) => {
        return el.name.toLowerCase().includes(searchText)
      })
    },

    getTabs() {
      const result = ['all']
      for (const dataItem of mainData) {
        result.push(dataItem.title)
      }
      return result
    },

    showPopup(dataItem) {
      this.activeDataItem = dataItem
      this.popupStatus = true
    },

    submit(data) {
      // Здесь писать логику для подтверждения
      console.log('SUBMIT', data)
    },

    getElementsPerScreen() {
      if (this.$mq === 'md') {
        return 9
      } else if ((this.$mq === 'sm') | (this.$mq === 'xs')) {
        return 1
      }
      return 16
    },
  },
}
</script>

<style lang="scss" scoped>
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  ::v-deep {
    .tabs {
      margin-bottom: 20px;
      border-radius: 6px;
    }

    .v-slide-group__wrapper {
      border-radius: 6px;
    }

    .carousel {
      max-width: 1440px;
      width: 100%;
    }

    .v-input__prepend-inner {
      margin-right: 5px;
    }
  }

  &__search {
    width: 320px;
  }
}
</style>
